
.api-detail .api-name {
  font-size: 1em;
}

.api-detail .content {
  text-align: left;
}

.horizontal-list{
  width: 100%;
  display: inline-flex;
  padding-top:2px;
  padding-bottom: 1px;
}

.tag-list {
  width: 100%;
  display: inline-flex;

}