.social-links a{
  color: #363636;
}
.social-links a:link{
  text-decoration: none;

}

.social-links ul li {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;

}

.social-links ul {
  display: inline-flex;
  list-style: none;

  margin: 0px;
}
